.image-bg {
  width: 100vw;
  height: 100vh;
  background-image: url(https://source.unsplash.com/random/1920x1080);
  background-size: cover;
  filter: grayscale(100%);
}

.card-width {
  width: 300px;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-pt-serif {
  font-family: 'PT Serif', serif;
}
